{% extends "home-base.html" %}
{% block title %}Courses{% endblock %}
{% block head %} {{ super () }} {% endblock %}

{% block page_content %}
<div class="container">
  <i class="fa fa-car fa-2x" aria-hidden="true"> Courses
    <a href="/course/add" class="btn btn-primary" role="button" aria-disabled="true">Add Courses</a>
  </i>

  <!-- LOOPING -->
  {% if courses %}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Course Number</th>
        <th>Title</th>
        <th>Professor</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for course in courses %}
      <tr>
              <th scope="row">{{ course.id }}</th>
              <td>{{ course.course_number }}</td>
              <td>{{ course.title }}</td>
              <td>{{ course.professor.name }}</td>
              <td>
      <!-- BUTTON -->
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#{{course.id}}">View</button>

      <!-- MODAL -->
      <div class="modal fade" id="{{course.id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{course.title}}</h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
              <p>{{course.description}}</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
      </td>

      <td>
        <a href="/course/edit/{{course.id}}" class="btn btn-primary" role="button" aria-disabled="true">Edit</a>
      </td>
      {% endfor%}
       </tr>
    </tbody>
  </table>

  {% else %}
  <h3>There are no courses in the database yet.</h3>
  {% endif %}
</div>


{% endblock %}
