{% extends "home-base.html"%}

{% block title %}Add Courses{% endblock %}

{% block page_content%}

  <!-- Page Content -->
  <div class="container" style="color:blue;">
    <i class="fa fa-graduation-cap fa-2x" aria-hidden="true">Add Courses:</i>
    <form action="/course/add" method="post">

      <div class="form-group">
        <label>Course Number</label>
        <input class="form-control" type="text" name="course_number" placeholder="Number of Course" required="true">
      </div>

      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title" placeholder="Title of Course" required="true"></div>

        <div class="form-group">
          <label>Professor</label>
          <select class="form-control" name="professor">
            {% for professor in professors %}
                <option>{{ professor.name }}</option>
            {% endfor %}
          </select>
        </div>

      <div class="form-group">
        Professor not in the list? <a href="/professor/add" class="btn btn-outline-primary" role="button" aria-disabled="true">Add Professors</a>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" placeholder="Description of the course" required="true"></textarea>
      </div>

      <button id="save" type="submit" class="btn btn-primary">Add Course</button>
    </form>
  </div>



{% endblock%}
