{% extends "home-base.html"%}
{% block title %}Add Professor{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div id="box" class="container">
    <h1 class="mt-5"><i class="fa fa-address-card-o" aria-hidden="true"></i></i> Add Professors:</h1>
    <form action="/professor/add" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name of Professor" required="true">
      </div>
      <div class="form-group">
        <label>Department</label>
        <textarea class="form-control" name="department" placeholder="Name of Department" required="true"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary">Add Professor</button>
    </form>
  </div>



{% endblock%}
